[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cachetools = "~=4.0.0"
elastic-apm = {version = "~=6.7.2", extras = ["flask"]}
requests = "~=2.27.1"
mysqlclient = "~=1.4.6"
patreon = {ref = "master", git = "https://github.com/Patreon/patreon-python.git"}
PyYAML = "~=5.4"
Flask = "~=1.1.1"
Flask-Cors = "~=3.0.9"
Flask-RESTful = "~=0.3.9"
Flask-SQLAlchemy = "~=2.5.1"
uWSGI = "~=2.0.20"

[dev-packages]

[requires]
python_version = "3.10"
