pyyaml==5.4
cachetools==4.0.0

flask==1.1.1
flask-cors==3.0.8
flask-sqlalchemy==2.5.1

elastic-apm[flask]==5.10.0

requests==2.23.0

mysqlclient==1.4.6

uWSGI==2.0.19.1

https://github.com/Patreon/patreon-python/archive/v0.5.0.zip
